SIMULATION RESULTS.tex
SIMULATION RESULTS.pdf
markdown_test.md
__pycache__/
doctrees/
html/
simulation_results/
initial_values/Materialparameter Si.tex
initial_values/Materialparameter Ge.tex
initial_values/Materialparameter GaAs.tex
initial_values/Naturkonstanten.tex
initial_values/Lebensdauer Zeitkonstanten der Minoritäten.tex
initial_values/Beweglichkeiten von Majoritätsträgern.tex
initial_values/Initial Parameters.pdf
PyfEng_Motivation.pdf